@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ArchivGrotesk';
  src: url('../assets/fonts/ArchivGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.user-profile {
  width: 161px;
  height: 51px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(to bottom right, #54b89a 0%, #d4e0dd 30%);
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover,
.user-profile:focus {
  background-color: #54b89a;
  box-shadow: 0 0 10px rgba(84, 184, 154, 1);
  outline: none;
}

.user-profile-inner {
  width: 30em;
  height: 47px;
  border-radius: 13px;
  background-color: #155250;
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
  font-weight: 600;
}
